<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div class="pull-right image">
        <%= image_tag "user",class: "img-circle" %>
      </div>
      <div class="pull-left info">
        <p><%= "#{current_user.f_name} #{current_user.l_name}" if present? %></p>
        <span style="font-size: 10px"><i class="fa fa-circle text-success"></i>
        <span>زمان آنلاین بودن:</span>
          <span><%= time_ago_in_words(current_user.last_login_date) if current_user.last_login_date.present? %></span>
          <p>
            <span style="font-size: 10px"><i class="fa fa-circle text-aqua"></i> </span>
            <%= current_user.place.name if current_user.place.present? %>
          </p>
        </span>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header">فهرست اصلی</li>
      <% if current_user.place_id==nil || current_user.place_id==1 || current_user.place_id==6 %>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i> <span> مدیریت کارمندان</span> <i class="fa fa-angle-left pull-left"></i>
        </a>
        <ul class="treeview-menu">
          <li><a href="<%= staffs_path %>"><i class="fa fa-toggle-left"></i>  کارمندان</a></li>
          <li><a href="<%= places_path %>"><i class="fa fa-toggle-left"></i>  سمت</a></li>
        </ul>
      </li>
      <%end%>
      <li class=" treeview">
        <a href="#">
          <i class="fa fa-location-arrow"></i> <span> درخواست دانشجویان</span> <i class="fa fa-angle-left pull-left"></i>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="<%= requests_path %>"><i class="fa fa-toggle-left"></i>  درخواست ها</a></li>
          </li>
          <li class="active"><a href="<%= prints_requests_path %>"><i class="fa fa-toggle-left"></i>صدور درخواست ها</a></li>
          </li>
        </ul>
      </li>
      <% if current_user.place_id==nil %>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-database"></i> <span>ماژول ها</span> <i class="fa fa-angle-left pull-left"></i>
        </a>
        <ul class="treeview-menu">
          <li class="active">
            <%= link_to features_path do %>
                <i class="fa fa-toggle-left"></i>
                <span>ماژول ها</span>
                <%end%>
          </li>
        </ul>
      </li>
       <%end%>
      <!--<li class="treeview">-->
        <!--<a href="#">-->
          <!--<i class="fa fa-bar-chart"></i> <span>بخش آمار</span> <i class="fa fa-angle-left pull-left"></i>-->
        <!--</a>-->
        <!--<ul class="treeview-menu">-->
          <!--<li class="active"><a href="#"><i class="fa fa-toggle-left"></i>آمار دانشجویان</a></li>-->
        <!--</ul>-->
      <!--</li>-->
      <% if current_user.place_id==nil || current_user.place_id==1 || current_user.place_id==6 %>
      <li class="treeview">
        <a href="">
          <i class="fa fa-mortar-board"></i> <span>ورود دانشجو ها</span> <i class="fa fa-angle-left pull-left"></i>
        </a>
        <ul class="treeview-menu">
          <li class="active"><a href="<%= import_students_path %>"><i class="fa fa-toggle-left"></i>دانشجو ها</a></li>
        </ul>
      </li>
          <%end%>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
