<div id="employee" class="col s12" style="direction: rtl">
  <div class="col s12 card-panel  center-block" >
    <%= form_for :session,url:sessions_path do |item| %>
        <%= item.hidden_field :type,value:true%>
        <div class='input-field col s12'>
          <div class='input-field col s12' >
            <%= item.text_field :username,required:true,class:"validate" %>
            <%= item.label :usernmae,"لطفاً نام کاربری  خود را وارد نمایید",class:"right" %>
          </div>
        </div>
        <div class='input-field col s12'>
          <div class='input-field col s12'>
            <%= item.password_field :password,required:true,class:"validate" %>
            <%= item.label :password,"لطفاً رمز عبور خود را وارد نمایید",class:"right" %>
          </div>
        </div>
        <div class="input-field col s6">
          <%= item.invisible_captcha :employee_captcha, visual_honeypots: false %>
        </div>
        <div class='input-field col s6'>
          <%= item.check_box :remember_me %>
          <%= item.label :remember_me,"مرا فراموش نکن " %>
        </div>
        <div class='input-field col s12'>
          <%= item.submit  "ورود", class:"btn btn-primary btn-block btn-large" %>
        </div>
    <%end%>

  </div>
</div>