<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <title><%= yield :title %></title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'admin/font' ,'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'admin/bootstrap.min' ,'data-turbolinks-track': 'reload',media:'all' %>
  <%= stylesheet_link_tag 'admin/bootstrap-rtl.min' ,'data-turbolinks-track': 'reload',media:'all' %>
  <%= stylesheet_link_tag 'forms' ,'data-turbolinks-track': 'reload',media:'all' %>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= yield :stylesheet %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin/html5shiv.min' , 'data-turbolinks-track': 'reload' %>
  <%= yield :javascript %>
</head>
<body dir="rtl">
<div class="container-fluid">
    <%= yield %>
</div>
<%= javascript_include_tag 'admin/bootstrap.min' , 'data-turbolinks-track': 'reload' %>
<%= yield :javascript_end_page %>
<%= yield :script_end_page %>
</body>
</html>
