<tr class="need_<%= need.id %>">
  <td class="name"><%= need.name %></td>
  <td class="type"><%= requirement_types[need.input_type] %></td>
  <td>
    <%= link_to  edit_feature_need_path(feature,need.id),class:"btn btn-warning btn-sm",remote:true do %>
        <span class="fa fa-pencil-square-o" style="font-size: 18px"></span>
    <%end%>
    <%= link_to  feature_need_path(feature,need.id),method: :delete,data:{confirm:"مطمئن هستید که میخواهید پاک کنید ؟"},class:"btn btn-danger btn-sm",remote:true  do %>
        <span class="fa fa-times" style="font-size: 18px"></span>
    <%end%>
  </td>
</tr>
