<header>
  <div class="col l12 m12">
    <nav class="blue darken-4">
      <div class="nav-wrapper">

          <%= link_to "","data-activates":"slide-out",class:"button-collapse right" do %>
              <i class="material-icons">menu</i>
          <%end%>
        <ul id="nav-mobile" class="hide-on-med-and-down right" >
          <li>
            <%= link_to logout_path,method: :delete do %>
                <span>خروج</span>
                <i class="material-icons right">exit_to_app</i>
            <%end%>
          </li>
          <li><a href="<%= request_students_path %>"> وضعیت درخواست ها
            <i class="material-icons right">offline_pin</i>
          </a>
          </li>
          <li><a href="<%= students_path %>">صفحه اصلی<i class="material-icons right">chrome_reader_mode</i></a></li>
          <li style="border-left: 2px solid #FFFFFF;padding: 0px 5px 0px 5px ">
            <span style="color: #ffdc1f">سامانه <%= $APP_NAME %></span>
          </li>

        </ul>



        <!-- for mini display -->

        <ul id="slide-out" class="side-nav">
          <li><div class="userView">
            <div class="background">
              <!--<img src="images/slidenav.PNG" width="100%" height="100%">-->
              <%= image_tag "slidenav.png" %>
            </div>
            <div>
              <%= image_tag "user.png",class: "circle" %>
              <span class="white-text name" style="text-align: right"><%= current_user.l_name%></span>
            </div>

          </div>
          </li>
          <li>
            <%= link_to students_path,class:"right-align" do %>
              <span>صفحه اصلی</span>
              <i class="material-icons ">chrome_reader_mode</i>
            <%end%>
          </li>
          <li>
            <%= link_to request_students_path,class:"right-align" do %>
              <span>وضعیت درخواست ها</span>
            <i class="material-icons ">offline_pin</i>
            <%end%>
          </li>
          <li dir="rtl">
            <%= link_to logout_path,class:"right-align" do %>
              <span>خروج</span><i class="material-icons">exit_to_app</i>
            <%end%>
          </li>


        </ul>




      </div>
    </nav>
  </div>
</header>