<section class="content">
  <section style="margin-bottom:4px">
    <%= link_to  new_import_student_path,class:"btn btn-lg btn-success" do %>
        <i class="glyphicon glyphicon-level-up"></i>
    <%end%>
  </section>
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title" style="font-family: byaken"> وارد کردن دانشجو ها</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
    <div class="box-body" style="display: block;">
      <%= render  partial:"layouts/flash_without_now_message" %>
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>#</th>
            <th> فایل</th>
            <th>تاریخ آپلود</th>
            <th>زمان آپلود</th>
            <th>عملیات</th>
          </tr>
        </thead>
        <tbody>
        <% i=0 %>
         <% @attachments.each do |file|  %> 
          <tr>
            <td><%= i+=1 %></td>
            <td><%= file.files_file_name %></td>
            <td><%= file.files_updated_at.to_parsi.strftime "%A/%d/%B/%Y" %></td>
            <td style="color: #d500ff"> <%= file.files_updated_at.to_parsi.strftime "%H:%M:%S" %></td>
            <td>
              <%= link_to import_student_path(file.id),method: :put,class:"btn btn-primary" do  %>
                  <i class="glyphicon glyphicon-retweet"></i>
              <%end%> 
              <%= link_to import_student_path(file.id),method: :delete,class:"btn btn-danger" do  %>
                  <i class="glyphicon glyphicon-trash"></i>
              <%end%>
        
            </td>
          </tr>
         <%end%>
        </tbody>
      </table>
      
      
      
    </div>
  </div>
</section>