<tr>
  <td><%= request.student.f_name %></td>
  <td><%= request.student.l_name %></td>
  <td><%= request.student.student_code %></td>
  <td><%= request.student.student_code %></td>
  <td><%= get_field_student[request.student.field] %></td>
  <td><%= request.feature.name %></td>
  <td>
    <%#= link_to request_path(id: request.id, type: "Certficate"), method: :put ,class:"btn btn-success" do %>
    <%= link_to "#",onclick:"newWindow=window.open('#{forms_path(request_id:request.id)}');newWindow.print();",class:"btn btn-success" do %>
        <i class="fa fa-print" aria-hidden="true"></i>
        <span>صدور</span>
    <%end%>
    <%= link_to request_path(id: request.id, type: "Confirm"), method: :put, class:"btn btn-info" do %>
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        <span>تایید</span>
    <%end%>
    <%= link_to request_path(id: request.id, type: "Reject"), method: :put ,class:"btn btn-danger" do %>
        <i class="fa fa-times" aria-hidden="true"></i>
        <span>برگشت</span>
    <%end%>
  </td>
</tr>
