<% feature = get_module_routes(request.feature_id) %>
<tr class="request_<%=request.id %>">
  <td><%= request.student.f_name %></td>
  <td><%= request.student.l_name %></td>
  <td><%= request.student.student_code %></td>
  <td><%= field_of_study[request.student.field][:major] %></td>
  <td><%= link_to "جزئییات",request_path(request.id),remote:true,class:"btn btn-xs btn-warning"%></td>
  <td><%= request.feature.name %></td>
  <td>
    <%#= link_to request_path(id: request.id, type: "Certficate"), method: :put ,class:"btn btn-success" do %>
    <% if feature.last == request.module_pointer  %>
        <!-- link for create request to batch --> 
        <%= link_to batch_requests_path(id:request.id),method: :post,remote:true,class:"btn btn-sm btn-success print","data-loading-text":"<i class='fa fa-circle-o-notch fa-spin'></i> در حال پردازش" do %>
            <i class="fa fa-print"></i>
            <span>صدور</span>
        <%end%>
    <% else %>
      <%= link_to request_path(id: request.id, type: "Confirm"), method: :put, class:"btn btn-sm btn-info" do %>
          <i class="fa fa-check-square-o"></i>
          <span>تایید</span>
      <%end%>
    <% end %>
    
    <%= link_to messages_path(request_id:request.id),data: {confirm:"آیا مطمئن هستید که میخواهید این درخواست را لغو کنید ؟"},remote:true,class:"btn btn-sm btn-danger" do   %>
        <i class="fa fa-times"></i>
        <span>رد کردن</span>
    <%end%>
  </td>
</tr>
