<% title 'مدیریت کارمندان' %>
<% javascript "validator/validator.min" %>
<% #javascript "places" %>
<% script "$('#CreatePlace').validator();$('#EditPlace').validator();" %>
<% form_error(@place) %>


<section class="content">
  <section style="margin-bottom:4px">
    <%= button_tag  class:"btn btn-primary","data-toggle":"modal","data-target":"#CreatePlace" do %>
        <span class="fa fa-plus" style="font-size: 20px"></span>
    <%end%>
  </section>

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">سمت</h3>
      <div class="box-tools pull-right">
        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
    </div>
      <div class="box-body" style="display: block;">
        <div class="col-lg-12 placesbody">
        <% @places.each do |place| %>
        <%= render partial: "place",locals: {place:place} %> <!-- in ghesmat place haro list mikone -->
        <%end%>
        </div>
      </div>
    </div>
</section>

<%= form_for :place,url:places_path,"data-toggle":"validator",role:"form",remote:true  do |item| %>
<div id="CreatePlace" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" style="font-family: web_Yekan">
          <span class="fa fa-users "></span>
          <span style="color: #02ae42">درج </span>سمت جدید
        </h4>
      </div>
      <div class="modal-body">
              <div class="form-group form-inline">
                <%= item.text_field :name,placeholder:"نام سمت",class:"form-control PlaceName","data-error":"لطفاً فیلد نام را پر نمایید",required:true  %>
                <div class="help-block with-errors" style="display:inline"><span style="color:#F52559">*</span> اجباری</div>
              </div>

      </div>
      <div class="modal-footer">
        <%= submit_tag "ثبت",class:"btn btn-success pull-right" %>
        <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
      </div>
    </div>
  </div>
</div>
<%end%>

